NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_BOUTIQUE_NAME=Saree Studio
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_OWNER_WHATSAPP_NUMBER=919573174882
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/
NEXT_PUBLIC_BOUTIQUE_ADDRESS=Hyderabad, Telangana, India
NEXT_PUBLIC_BOUTIQUE_PHONE=+91 95731 74882
NEXT_PUBLIC_BOUTIQUE_EMAIL=hello@sareestudio.com
